* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(162, 113, 207, 0.691);
    padding: 15px;
    height: 650px;
    
}
.body {
    height: 100px;
}

.item1 {
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    align-self: center;
    order: 1;
}

.item2 {
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    align-self: center;
    order: -1;
}
.item3 {
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    align-self: stretch;
    padding: 15px;
    order: -2;
    
}

.item4 {
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    align-self: flex-end;
    order: -2;
    
}
.item5 {
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    align-self: flex-start;
}
